<?xml version="1.0" encoding="UTF-8"?>
{~n}<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
{~n}<plist version="1.0">
{~n}    <dict>
{~n}        <key>frames</key>
{~n}        <dict>
{#sprites}
{~n}            <key>{name}</key>
{~n}            <dict>
{~n}                <key>height</key>
{~n}                <integer>{height}</integer>
{~n}                <key>offsetX</key>
{~n}                <real>{trimX}</real>
{~n}                <key>offsetY</key>
{~n}                <real>{trimY}</real>
{~n}                <key>originalHeight</key>
{~n}                <integer>{texture.height}</integer>
{~n}                <key>originalWidth</key>
{~n}                <integer>{texture.width}</integer>
{~n}                <key>width</key>
{~n}                <integer>{width}</integer>
{~n}                <key>x</key>
{~n}                <integer>{x}</integer>
{~n}                <key>y</key>
{~n}                <integer>{y}</integer>
{~n}            </dict>
{/sprites}
{~n}        </dict>
{~n}        <key>metadata</key>
{~n}        <dict>
{~n}            <key>format</key>
{~n}            <integer>0</integer>
{~n}            <key>realTextureFileName</key>
{~n}            <string>{textureFileName}</string>
{~n}            <key>size</key>
{~n}            <string>{{width},{height}}</string>
{~n}            <key>textureFileName</key>
{~n}            <string>{textureFileName}</string>
{~n}        </dict>
{~n}        <key>texture</key>
{~n}        <dict>
{~n}            <key>height</key>
{~n}            <integer>{height}</integer>
{~n}            <key>width</key>
{~n}            <integer>{width}</integer>
{~n}        </dict>
{~n}    </dict>
{~n}</plist>
{~n}