:host {
    display: inline-block
    min-height: 21px

    #focus:focus {
        outline: none
    }

    #focus {
        bgcolor = #444

        font-size: 12px
        white-space: nowrap
        padding: 3px 2px 3px 5px
        border-bottom: 1px solid black

        background-color: bgcolor
        font-family: Helvetica,Arial,sans-serif
        cursor: default 
        color: #bdbdbd

        &:hover {
            background-color: bgcolor + 20%
        }
    }

    &([selected]) {
        bgcolor = #2865c7

        #focus {
            background-color: bgcolor

            &:hover {
                background-color: bgcolor + 20%
            }
        }
    }

    .img img {
        width: 25px
        height: 25px
    }

    .content {
        margin-left: 5px
        margin-right: 5px
        overflow: hidden
        text-overflow: ellipsis
    }

    .del {
        margin-left: 5px
        padding: 2px 4px
        cursor: pointer

        &:hover {
            background-color: #222
            // background-color: rgba(255,80,0,0.5)
        }
        &:active {
            background-color: #888
        }

        i {
            font-size: 10px

            &.fa-times {
                cursor: pointer
                color: #aaa
            }
        }
    }
}
